name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6.0.0
      - name: setup golang
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: "go.mod"
      - name: run all tests
        run: go test -cover -v ./...
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6.0.0
      - name: run revive
        uses: morphy2k/revive-action@v2.7.8
        with:
          exclude: "./vendor/..."
